.container {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
}

.seperatorLine {
   flex-grow: 1;
   height: 1px;
   background-color: var(--primary);
}

.seperatorIcon {
   color: var(--primary);
   font-size: 24px;
}
