.container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 0 10px 0 var(--neutral-grey);
   padding: 20px;
   gap: 10px;
   flex-wrap: wrap;
}

.exerciseInfoWrapper {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   margin-top: 5px;
}

.exerciseNameInput {
   background: none;
   border: 1px solid white;
   border-radius: 5px;
   padding: 5px 10px;
   font-size: 18px;
   display: block;
   color: white;
   width: 100%;
}

.sets,
.totalWeight {
   font-size: 14px;
   color: var(--neutral-grey);
}

.optionBtnsWrapper {
   display: flex;
   gap: 10px;
   min-width: 80px;
}
