.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   margin-top: 20px;
}

.exercisesWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   width: 100%;
   margin-top: 20px;
}
