.setOrder,
.inputsWrapper,
.optionBtnsWrapper {
   margin-top: 5px;
}

.setOrder {
   text-align: center;
   font-size: 24px;
}

.inputsWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.inputWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3px;
}

.repsLabel,
.weightUnitLabel {
   font-size: 14px;
   color: var(--neutral-grey);
}

.weightInput,
.repsInput {
   padding: 6px 8px;
   font-size: 24px;
   background: none;
   border: 1px solid white;
   color: white;
   border-radius: 5px;
   text-align: center;
   -moz-appearance: textfield;
}

.weightInput::-webkit-outer-spin-button,
.weightInput::-webkit-inner-spin-button,
.repsInput::-webkit-outer-spin-button,
.repsInput::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.weightInput {
   width: 110px;
}

.repsInput {
   width: 60px;
}

.optionBtnsWrapper {
   display: flex;
   justify-content: center;
}
