.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.completedWorkoutsWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   margin-top: 30px;
   width: 100%;
}

.title {
   text-align: center;
}
