.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}

.workoutsWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   margin-top: 30px;
   width: 100%;

}
