name: lift-tracker
region: nyc

ingress:
   rules:
      - component: { name: backend }
        match: { path: { prefix: /api/v1 } }
      - component: { name: website }
        cors:
           allow_origins:
              - prefix: https://lift-tracker.fit
        match: { path: { prefix: / } }

services:
   - name: backend
     environment_slug: node-js
     github:
        repo: dfoxlee/lift-tracker
        branch: main
        deploy_on_push: true
     source_dir: backend
     http_port: 8008
     run_command: npm start

static_sites:
   - name: website
     github:
        repo: dfoxlee/lift-tracker
        branch: main
        deploy_on_push: true
     source_dir: frontend
     output_dir: dist
     build_command: npm run build
     envs:
        - key: VITE_ENVIRONMENT
          value: PRODUCTION
        - key: VITE_PRODUCTION_URL
          value: https://lift-tracker.fit/api/v1
