.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.thankYou {
   margin-top: 20px;
}

.messageIcon {
   font-size: 200px;
   color: var(--primary);
   margin-top: 30px;
}

.title {
   margin-top: 30px;
   text-align: center;
}

.subtitle {
   margin-top: 15px;
   color: var(--neutral-grey);
   text-align: center;
}

.returnLink {
   text-decoration: none;
   color: var(--secondary);
   background-color: var(--primary);
   padding: 10px 20px;
   border-radius: 5px;
   margin-top: 30px;
}