.gridContainer {
   display: grid;
   grid-template-columns: 1fr 4fr 2fr;
   justify-items: center;
   align-items: center;
   gap: 10px 5px;
   margin-top: 30px;
}

.setHeaders {
   font-size: 14px;
   font-weight: 500;
   color: var(--neutral-grey);
}

.optionBtnsWrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 3px 10px;
}
