
.exerciseSelect {
   background: none;
   border: 1px solid var(--info);
   border-radius: 5px;
   color: var(--info);
   padding: 5px 10px;
}

.exerciseSelectLabel {
   text-align: center;
   color: var(--neutral-grey);
}

.exerciseNavRow {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   gap: 5px;
}