.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.timer {
   font-size: 64px;
}

.controlsWrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.btnsWrapper {
   display: flex;
   gap: 10px;
}

.timerEvent {
   font-size: 14px;
   text-align: center;
}