.container {
   position: absolute;
   top: 115%;
   right: 0;
   background-color: var(--neutral-charcoal);
   padding: 10px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   z-index: 10;
}

.inputLabel {
   color: var(--neutral-grey);
   font-size: 14px;
}

.authInput {
   background: none;
   border: 1px solid var(--primary);
   border-radius: 3px;
   padding: 5px 10px;
   color: white;
}

.authBtn {
   background-color: var(--primary);
   color: var(--secondary);
   padding: 5px 15px;
   border-radius: 5px;
   font-size: 18px;

}

@media only screen and (max-width: 600px) {
   .container {
      right: 50%;
      transform: translateX(50%);
   }
}
