.container {
   display: grid;
   place-content: center;
   min-height: 90vh;
   width: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/gym-background.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
}

.wrapper {
   position: absolute;
   top: 60%;
   left: 30%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 400px;
}

.heroTitle {
   color: var(--primary);
   font-size: 50px;
   text-align: center;
}

.heroSubtext {
   text-align: center;
   color: var(--neutral-grey);
   margin-top: 10px;
}

@media only screen and (max-width: 800px) {
   .wrapper {
      position: static;
      top: auto;
      left: auto;
      transform: none;
   }
}
